### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [11]:
import pandas as pd

In [2]:
# датасеты хранятся в zip архивах, скачиваем выбранный

!wget http://files.grouplens.org/datasets/movielens/ml-latest-small.zip

--2020-06-29 16:26:35--  http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
Распознаётся files.grouplens.org (files.grouplens.org)… 128.101.65.152
Подключение к files.grouplens.org (files.grouplens.org)|128.101.65.152|:80...соединение установлено.
HTTP-запрос отправлен. Ожидание ответа…200 OK
Длина: 978202 (955K) [application/zip]
Сохранение в: «ml-latest-small.zip»

ml-latest-small.zip 100%[===================>] 955,28K   592KB/s    за 1,6s

2020-06-29 16:26:37 (592 KB/s) - «ml-latest-small.zip» сохранён [978202/978202]

In [3]:
# делаем разархивацию

!unzip ml-latest-small.zip

Archive:  ml-latest-small.zip
   creating: ml-latest-small/
  inflating: ml-latest-small/links.csv
  inflating: ml-latest-small/tags.csv
  inflating: ml-latest-small/ratings.csv
  inflating: ml-latest-small/README.txt
  inflating: ml-latest-small/movies.csv

In [4]:
# читаем файл с оценками

data_rating = pd.read_csv('ml-latest-small/ratings.csv')
data_rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
# смотрим на качество данных

data_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [7]:
# оставляем строки с рейтингом = 5

data_rating_five = data_rating.query('rating == 5.0')
data_rating_five

        userId  movieId  rating   timestamp
3            1       47     5.0   964983815
4            1       50     5.0   964982931
6            1      101     5.0   964980868
8            1      151     5.0   964984041
9            1      157     5.0   964984100
...        ...      ...     ...         ...
100814     610   158238     5.0  1479545219
100829     610   164179     5.0  1493845631
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352

[13211 rows x 4 columns]

In [8]:
# считаем сколько "5" получил каждый фильм
# метод value_counts() выводит значения в порядке убывания
# для решения задачи берем первую строку

data_rating_five['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [9]:
# читаем файл с фильмами для поиска нужного Id

data_movies = pd.read_csv('ml-latest-small/movies.csv')
data_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
# определяем название фильма с Id = 318

data_movies.query('movieId == 318')

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

#### В скаченном датасете фильм "Побег из Шоушенка" набрал наибольшее количество оценок 5.0

### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [12]:
# читаем файл с данными

data_power = pd.read_csv('power.csv')
data_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [13]:
# смотрим на качество данных

data_power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [14]:
# выбираем страны Прибалтики

data_p = data_power[ (data_power['country'] == 'Lithuania') | (data_power['country'] == 'Latvia') | (data_power['country'] == 'Estonia') ]

data_p.country.unique()

array(['Lithuania', 'Latvia', 'Estonia'], dtype=object)

In [15]:
# выбираем требуемую категорию + условие на потребление больше 0

data_p_category = data_p[ ((data_p['category'] == 4) | (data_p['category'] == 12) | (data_p['category'] == 21)) & (data_p['quantity'] > 0) ]

data_p_category

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10620     Estonia  2005       1.0         4
10621     Estonia  2004       1.0         4
10622     Estonia  2003       1.0         4
10624     Estonia  2001       1.0         4
...           ...   ...       ...       ...
253983  Lithuania  2008      54.0        21
253984  Lithuania  2007      47.0        21
253985  Lithuania  2006      31.0        21
253986  Lithuania  2005       1.0        21
253987  Lithuania  2004       1.0        21

[1044 rows x 4 columns]

In [16]:
# выбираем нужный год

data_p_category_year = data_p_category.query(f'{2005} <= year <= {2010}')

data_p_category_year

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10620     Estonia  2005       1.0         4
11156   Lithuania  2008       1.0         4
11158   Lithuania  2006       1.0         4
11159   Lithuania  2005       1.0         4
...           ...   ...       ...       ...
253982  Lithuania  2009      98.0        21
253983  Lithuania  2008      54.0        21
253984  Lithuania  2007      47.0        21
253985  Lithuania  2006      31.0        21
253986  Lithuania  2005       1.0        21

[347 rows x 4 columns]

In [17]:
# определяем суммарное потребление - ответ на задачу

data_p_category_year['quantity'].sum()

240580.0

### Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
 
https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [26]:
# выбираем прайслист функциональной диагностики со страницы мед.центра
url = 'https://www.mckolomen.ru/uslugi/funktsionalnaya_diagnostika/#price_list/'

# скачиваем нужный блок с ценами
data_tabl = pd.read_html(url, attrs={'class': 'an_prices'}, encoding='utf-8')[0]

data_tabl

                           Ультразвуковая диагностика  Unnamed: 1
0                           УЗИ гепатобиллиарной зоны      2170.0
1                  Комплексное УЗИ внутренних органов      2550.0
2                                          УЗИ печени      1280.0
3                                 УЗИ желчного пузыря      1160.0
4   УЗИ желчного пузыря с определением его сократи...      1280.0
..                                                ...         ...
75                        Электроэнцефалография (ЭЭГ)      3060.0
76                            Реоэнцефалография (РЭГ)      1530.0
77                                Реовазография (РВГ)      1780.0
78                         Эхоэнцефалография (ЭХО ЭГ)      1660.0
79                                       Тредмил тест      6060.0

[80 rows x 2 columns]