### Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг
  - оценка 4 и меньше - средний рейтинг
  - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
# читаем файл с оценками
data_rating = pd.read_csv('ratings.csv')
data_rating.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [3]:
# смотрим на диапазон оценок (выполнимо ли условие задачи)
data_rating.rating.unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [4]:
def class_rating(element):
    """ Классификация фильмов в зависимости от оценок """
        
    if element <= 2.0:
        return 'низкий рейтинг'

    elif 2.0 < element <= 4.0:
        return 'средний рейтинг'

    else:
        return 'высокий рейтинг'

In [5]:
# записываем результаты классификации в столбец class
data_rating['class'] = data_rating['rating'].apply(class_rating)

data_rating[['movieId', 'rating', 'class']].head()

   movieId  rating            class
0        1     4.0  средний рейтинг
1        3     4.0  средний рейтинг
2        6     4.0  средний рейтинг
3       47     5.0  высокий рейтинг
4       50     5.0  высокий рейтинг

In [6]:
# справочно смотрим на распределение оценок по рейтингу
data_rating['class'].value_counts()

средний рейтинг    65551
высокий рейтинг    21762
низкий рейтинг     13523
Name: class, dtype: int64

### Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. 

Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region

In [7]:
# читаем файл с данными
data_keyword = pd.read_csv('keywords.csv')
data_keyword.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [8]:
# используем исходный словарь с регионами и городами
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [9]:
# задаем переменные со списками городов
senter = geo_data['Центр']
sz = geo_data['Северо-Запад']
dv = geo_data['Дальний Восток']

In [10]:
def geo_class(param):
    """ Классификация по регионам в зависимости от городов """ 

    if (senter[0] or senter[1] or senter[2]) in param.keyword:
        return list(geo_data.keys())[0]
    
    elif (sz[0] or sz[1] or sz[2]) in param.keyword:
        return list(geo_data.keys())[1]
    
    elif (dv[0] or dv[1] or dv[2]) in param.keyword:
        return list(geo_data.keys())[2]
    
    else:
        return 'undefined'

In [11]:
# записываем результаты классификации в столбец region
data_keyword['region'] = data_keyword.apply(geo_class, axis=1)
data_keyword.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [12]:
# справочно смотрим на распределение запросов по регионам
data_keyword.region.value_counts()

undefined         99462
Центр               284
Северо-Запад        211
Дальний Восток       43
Name: region, dtype: int64

### Задание 3 (бонусное)

Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". 

Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens).

Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
  - для каждой строки пройдите по всем годам списка years
  - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
  - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга.

In [13]:
# читаем файл с оценками
df_ratings = pd.read_csv('ratings.csv')
df_ratings.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [14]:
# читаем файл с фильмами
df_movies = pd.read_csv('movies.csv')
df_movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [15]:
# задаем переменную со списком из требуемых годов
years = list(range(1950,2011))

In [16]:
def production_year(row):
    """ Возвращает год выпуска из каждой строки с названием фильма при условии,
    что этот год есть в заданном перечне, иначе - 1900 год """
    
    for year in years:
        if str(year) in row:
            return str(year)
    return '1900'

In [17]:
# результаты применения функции записываем в столбец year
df_movies['year'] = df_movies['title'].apply(production_year)
df_movies.tail(15)

,movieId,title,genres,year
9727,190213,John From (2015),Drama,1900
9728,190215,Liquid Truth (2017),Drama,1900
9729,190219,Bunny (1998),Animation,1998
9730,190221,Hommage à Zgougou (et salut à Sabine Mamou) (2...,Documentary,2002
9731,191005,Gintama (2017),Action|Adventure|Comedy|Sci-Fi,1900
9732,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,2010
9733,193567,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama,1900
9734,193571,Silver Spoon (2014),Comedy|Drama,1900
9735,193573,Love Live! The School Idol Movie (2015),Animation,1900
9736,193579,Jon Stewart Has Left the Building (2015),Documentary,1900
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,1900
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,1900
9739,193585,Flint (2017),Drama,1900
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,1900
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991

In [18]:
# справочно смотрим на количество фильмов по годам
df_movies.year.value_counts()

1900    2076
2002     310
2006     296
2001     295
2000     284
        ...
1956      30
1954      23
1951      22
1950      21
1952      16
Name: year, Length: 62, dtype: int64

In [19]:
# объединяем два массива и удаляем ненужные столбцы
df_total = pd.merge(df_movies, df_ratings, on='movieId')

df_total = df_total.drop(['genres', 'userId', 'timestamp'], axis=1)

df_total.tail(15)

,movieId,title,year,rating
100821,190213,John From (2015),1900,1.0
100822,190215,Liquid Truth (2017),1900,1.5
100823,190219,Bunny (1998),1998,1.0
100824,190221,Hommage à Zgougou (et salut à Sabine Mamou) (2...,2002,1.0
100825,191005,Gintama (2017),1900,4.5
100826,193565,Gintama: The Movie (2010),2010,3.5
100827,193567,anohana: The Flower We Saw That Day - The Movi...,1900,3.0
100828,193571,Silver Spoon (2014),1900,4.0
100829,193573,Love Live! The School Idol Movie (2015),1900,4.0
100830,193579,Jon Stewart Has Left the Building (2015),1900,3.5
100831,193581,Black Butler: Book of the Atlantic (2017),1900,4.0
100832,193583,No Game No Life: Zero (2017),1900,3.5
100833,193585,Flint (2017),1900,3.5
100834,193587,Bungo Stray Dogs: Dead Apple (2018),1900,3.5
100835,193609,Andrew Dice Clay: Dice Rules (1991),1991,4.0

In [20]:
# группируем по году, рассчитываем средние значения и сортируем по убыванию рейтинга
# выводим столбец с рейтингом и переиндексируем строки
df_total.groupby('year').mean()[['rating']].sort_values('rating', ascending=False).reset_index().head(15)

    year    rating
0   1957  4.039535
1   1954  4.009191
2   1962  3.969466
3   1952  3.953125
4   1972  3.944293
5   1964  3.940160
6   1974  3.935622
7   1967  3.922572
8   1975  3.879121
9   1958  3.842424
10  1971  3.841463
11  1966  3.823684
12  1950  3.813665
13  1968  3.812212
14  1977  3.810406

#### Полученные результаты подтверждают мнение о том, что "раньше снимали настоящее кино, не то что сейчас"(если, конечно, не учитывать субьективные факторы выставления рейтингов).