### Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:
- если источник traffic_source равен yandex или google, то в source_type ставится organic

- для источников paid и email из России - ставим ad

- для источников paid и email не из России - ставим other

- все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd

In [2]:
# читаем файл с данными
log = pd.read_csv('visit_log.csv', sep=';')
log.tail(3)

,timestamp,visit_id,url,region,user_id,traffic_source
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email

In [3]:
# источник traffic_source равен yandex или google -> в source_type ставим organic
log.loc[log['traffic_source'].isin(['yandex', 'google']), 'source_type'] = 'organic'

# источник равен paid + email из России -> ставим ad
log.loc[(log['traffic_source'] == 'paid') & (log['region'] == 'Russia'), 'source_type'] = 'ad'

# источник равен paid + email не из России -> ставим other
log.loc[(log['traffic_source'] == 'paid') & (log['region'] != 'Russia'), 'source_type'] = 'other'

# все остальные варианты -> значения из traffic_source без изменений
# логика решения - это все варианты, кроме traffic_source равный yandex, google, paid
log.loc[~log['traffic_source'].isin(['yandex', 'google', 'paid']), 'source_type'] = log['traffic_source']

In [4]:
log.tail(10)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
18928,1550094255,c7e4bce62a,https://host.ru/8880fd00cf23066541,Australia,e721d23ec6,yandex,organic
18929,1550094260,39aeec73f8,https://host.ru/ee7c4e0674a284ee3f,Russia,9c832cf9d4,direct,direct
18930,1550094269,f1b4590410,https://host.ru/a5dda93e70318570c0,Russia,7f59a1e6a7,direct,direct
18931,1550094269,a7e2dfd759,https://host.ru/ef57543002ce2a0f2a,Belarus,04fec64cda,direct,direct
18932,1550094280,5001544772,https://host.ru/9f90e5c423a5f976d4,Russia,072148e3ba,google,organic
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,email

In [5]:
log.source_type.value_counts()

direct     7013
organic    5407
email      3875
ad         1581
other      1062
Name: source_type, dtype: int64

### Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей.

Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис.

Выполните следующие действия:

1. Прочитайте содержимое файла с датафрейм.

2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном.

In [6]:
# читаем файл с данными
data_news = pd.read_csv('URLs.txt', sep='\t')
data_news.tail()

                                                  url
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

In [7]:
# делаем импорт библиотеки для работы с regex
import re

In [8]:
# фильтруем строки по шаблону
data_news[data_news['url'].str.contains(r'/\d{8}-', regex=True)].reset_index().tail()

    index                                                url
79     88  /cis/35984145-kreml-prokommentiroval-soobschen...
80     89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
81     90  /science/36151301-nazvano-posledstvie-zloupotr...
82     91  /incidents/36027330-vospitatelnitsu-zatravili-...
83     92  /world/36103095-dominikanskih-zhurnalistov-ubi...

### Задание 3

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

data = pd.DataFrame(
    
    {'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    
    'shows': [125076, 114173, 97534, 53546]}
    
    )

In [9]:
# исходный датафрейм
data = pd.DataFrame( 
    {'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],      'shows': [125076, 114173, 97534, 53546] } 
    )

data

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [10]:
# делаем импорт библиотеки для работы со словами
from pymystem3 import Mystem

In [11]:
m = Mystem()

In [12]:
# первый вариант решения
def word_lemma(phrase):
    """ Приведение слов фразы к нормальному виду (вычисление лемм) """
    
    lem = m.lemmatize(phrase)
    return ''.join(lem).strip()

In [13]:
data['lemmas_1'] = data['keyword'].apply(word_lemma)
data

                 keyword   shows             lemmas_1
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль

In [17]:
# второй вариант решения
data['lemmas_2'] = data.apply(lambda data: ''.join(m.lemmatize(str(data['keyword']))).strip(), axis=1)
data

                 keyword   shows             lemmas_1             lemmas_2
0    курс гривны к рублю  125076  курс гривна к рубль  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль   100 доллар в рубль
3             курс рубля   53546           курс рубль           курс рубль